<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>

<head>
    <title>Cadastro de Filme</title>
</head>

<body>
<div layout:fragment="conteudo" >
    <H1>Cadastro de filme</H1>
    <section>
    <form method="post" action="/filmes">

        <input type="hidden" name="_method" value="put" th:if="${filme != null}">
        <input type="hidden" name="id" th:value="${filme?.id}">

        <div>
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" th:value="${filme?.nome}">
        </div>
        <div>
            <label for="duracaoEmMinutos">Duração (em minutos):</label>
            <input id="duracaoEmMinutos" name="duracaoEmMinutos" th:value="${filme?.duracaoEmMinutos}">
        </div>
        <div>
            <label for="anoLancamento">Ano de lançamento:</label>
            <input id="anoLancamento" name="anoLancamento" th:value="${filme?.anoLancamento}">
        </div>
        <div>
            <label for="genero">Gênero:</label>
            <input id="genero" name="genero" th:value="${filme?.genero}">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
    </section>
</div>
</body>
</html>