<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>

<head>
    <title>Lista de filmes</title>
</head>

<body>
<div layout:fragment="conteudo" >
    <H1>Lista de filmes</H1>
    <a href="/filmes/formulario">Novo</a>
    <section>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Duração</th>
                <th>Ano de lancamento</th>
                <th>Gênero</th>
                <th>Excluir</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="filme : ${lista}">
                <td th:text="${filme.nome}"></td>
                <td th:text="${filme.duracaoEmMinutos}"></td>
                <td th:text="${filme.anoLancamento}"></td>
                <td th:text="${filme.genero}"></td>
                <td th:text="${filme.id}">Excluir</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>